  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
     max-height: 620px !important;
      margin: auto;
  }
  
  .creamBackground
  {
	  background-color:#e5e5e5;
  }
  

h4 {
    font-size: 1.5em; 
 }

p {
    font-size: 0.9em;
}
footer
{
	 font-size: 0.9em; 
}

.navbar-brand
{
	 font-size: 1.3em; 
	 color:black;
}
 
 .whiteBg
 {
	  font-size: 1em; 
	 color:#000000;
	 background-color:white;
 }
 
 
 .customButton{
border:1px solid #cc0000; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #E60000; background-image: -webkit-gradient(linear, left top, left bottom, from(#E60000), to(#FF4D4D));
 background-image: -webkit-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -moz-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -ms-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -o-linear-gradient(top, #E60000, #FF4D4D);
 background-image: linear-gradient(to bottom, #E60000, #FF4D4D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E60000, endColorstr=#FF4D4D);
 } 
 
 .customButton:hover{
border:1px solid #ff1a1a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #E60000; background-image: -webkit-gradient(linear, left top, left bottom, from(#E60000), to(#FF4D4D));
 background-image: -webkit-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -moz-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -ms-linear-gradient(top, #E60000, #FF4D4D);
 background-image: -o-linear-gradient(top, #E60000, #FF4D4D);
 background-image: linear-gradient(to bottom, #E60000, #FF4D4D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E60000, endColorstr=#FF4D4D);
 }
